body{
    background-image: url(/img/bg-img.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    opacity: 0.9;
}
.breadcrumbs{
    background: black;
    
}
.breadcrumbs li{
    font-size: 1.5em;
    color: aliceblue;
}



.title img{
    width: 200px;
    height: 200px;
    
    border-radius: 100%;
}

.overlay{
    background-color: black;
    opacity: 0.7;
}


.modal{
    color: black;
}