html{
    background-image: url(/img/land-bg.jpg);
        background-size: cover;
}

body{

    background-size: cover;
    color: white;
    opacity: 0.9; 
    
}
h1, h2,h3, h4, h5, h6, p{
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-weight: 700; 
}



.top-container{
    padding-bottom: 10px;
    background-color:darkgrey;
    background: linear-gradient(white,  gray, black); /* Standard syntax */
    background-image: url(/img/main-bg3.gif);
    background-size: cover;
    color: white;
}

.shout{
    padding: 5%;
}
.shout h1{
    font-family: 'Poiret One', cursive;

        
}
.shout p{
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    padding:;
        
}





/*=====Style social here======*/
.social .fa{
    padding: 0.3em;
}


.fa-facebook{
    color: white
}
.fa-facebook:hover{
    color: blue;
     
}
.fa-twitter:hover{
    color:cyan
}

.fa-google{
    color: yellow
}
.fa-google:hover{
    color: darkorange
}




/*====Start styling form here======*/
.to-form{
    box-sizing: border-box;
    padding: 0.7em;
    background-color: darkorange;
    color: wheat;
    border-radius: 5px;
}


.title img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.overlay{
    background-color: black;
    opacity: 0.8;
}

.modal{
    color: black;
}

.skills{
    border-top-left-radius: 20%;  
    border-bottom-right-radius: 30%;  
}
.skills .list{
    box-sizing: border-box;
    padding: 20px
}


/*====Portifolio====*/
.folio-container{
    background: black
}
.folio{
    padding: 20px; 
    opacity: ;
}
.folio img{
    margin: 0;
    width: ;
}


.foot-nav{
    visibility: hidden;
    position: fixed;
    display: block;
    bottom: 0;
    right: 3px;
    top: 0
}
.foot-nav a{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    color:chocolate;
        
}