body{
    background-image: url(/img/land-bg.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    color: white;
    opacity: 0.9; 
    border-radius: 20px
}
h1, h2,h3, h4, h5, h6, p{
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-weight: 700; 
}

.shout p{
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    padding:5%
        
}





/*=====Style social here======*/
.social .fa{
    padding: 0.3em;
}


.fa-facebook{
    color: white
}
.fa-facebook:hover{
    color: blue;
    background:     
}
.fa-twitter:hover{
    color:cyan
}

.fa-google{
    color: yellow
}
.fa-google:hover{
    color: darkorange
}




/*====Start styling form here======*/
.to-form{
    box-sizing: border-box;
    padding: 0.7em;
    background-color: darkorange;
    color: wheat;
    border-radius: 5px;
}






.title img{
    width: 200px;
    height: 200px;
    
    
    border-radius: 100%;
    box-shadow: 
}

.overlay{
    background-color: black;
    opacity: 0.8;
}

.modal{
    color: black;
}

.skills{
    border-top-left-radius: 20%;  
    border-bottom-right-radius: 30%;  
}
.skills .list{
    box-sizing: border-box;
    padding: 20px
}






.foot-nav{
    position: fixed;
    display: block;
    bottom: 0;
    right: 3px
}
.foot-nav a{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    color:chocolate;
        
}