/*===========Style intro section========*/
body{
    background: rgba(0, 0, 0, 0.2);
    
}

#intro{
    text-align: center;
    min-height: 500px;
    background-image: url(/img/sl_codecreater_programmer-e1302578302661.gi);
    background-size: cover;
    background-position: 0px -100px;
    background-color: red;
    opacity: ;
    position: relative;
    bottom: ;
    right: 0;
    top: ;
    z-index: 1;
}
#intro nav {
    background-color: wheat;
    opacity: 0.9;
    float: right;
    position: relative;
    right: 20px;
    box-sizing: border-box;
    padding: 15px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.top-text{
    position: relative;
    min-height: 300px;
    top: 50px;
    background-color: black;
    opacity: 0.2;
    color: white;
    font-weight: 800;
}


#form{
    background-color:beige;
    opacity: 0.9;
    width: 50%;
    margin: auto
}